<h1> <%= @user.username.upcase %> Page </h1>
  <h2>  Users owned sneakers </h2>



<ul>
   <% @user.sneakers.each do |s| %>
      <h3> <li> <%= link_to s.name, sneaker_path(s) %> </li> </h3>
          <% end  %>

          
</ul>

  <h4>Would you like to create a sneaker</h4>
  <h5> <%= link_to "Click here", new_sneaker_path %> </h5>
