






 <%# After a new category is created a user should be redirected to the category show page for the newly created object

 - The category show page should display the name of the category as well as a list of all the sneakers that fall into a category
(You can create sneaker objects in your seeds file) %>
  <ol>
    <li><%= @category.name %></li>
 </ol>
