<h1>All of my sneakers</h1>

<ul>
    <% @sneakers.each do |sneaker| %>
      <li>
        <%= link_to sneaker.name, sneaker %> ->
        <%= link_to "Edit Sneaker", edit_sneaker_path(sneaker) %>

      </li>


  <% end %>

</ul>
<%# <%= button_to "Edit Sneaker", { :action => "update" }, :method => :patch %>
