<h1> <%= @sneaker.name %>'s Page</h1>
<marquee>
  Welcome Baller 🏀🏀🏀🏀🏀🏀🏀🏀
</marquee>

<%= link_to "Edit Sneaker", edit_sneaker_path(@sneaker) %>

<div>
  <%= link_to "Delete Sneaker", sneaker_path, method: :delete  %>
</div>
